h1 {
    text-align: center;
    font-family: Verdana;
    color: #FF1493;
  }
h3 {
    text-align: left;
    color: teal;
}
body {
    background-color: pink;
}
img {
    display: block;
    margin: 0 auto;
  }
