h1 {
    text-align: center;
    font-family: Verdana;
    color: #FF1493;
  }
h3 {
    text-align: left;
    text-color: salmon;
}
body {
    backround-color: #FFC0CB;
}
img {
    display: block;
    margin: 0 auto;
  }
